
<div id="html-main-content">

    <h2> Welcome to HTML tags </h2>

    <div>
      <h3>HTML :</h3>
      <p>HTML stands for Hyper Text Markup Language. It is used to create web pages. It describes the structure of the web page. A web page generally consists of different parts like header, body, footer etc. It is used to define these parts of the web pages. This is done using the HTML elements.
      <br><br>
      <h3>HTML elements :</h3>
      <p>HTML elements are the building blocks of HTML pages. There are elements to define the header, title, body, footer etc. </p>
      <br>
      <h3>Tags :</h3>
      <p>The elements in HTML are represented with the help of tags. There is a tag to define each and every part of a webpage.</p>
      <br>
      <h3>Syntax :</h3>
          <code>
            &lt;tagName&gt; …some content here... &lt;/tagName&gt;
          </code>

        <p>Below is the simplest HTML page that can be created</p>

        <code>
            &lt;!DOCTYPE html&gt;
            &lt;html&gt;
                 &lt;head&gt;
                 &lt;title&gt;A HTML Page&lt;/title&gt;
                 &lt;/head&gt;
                 &lt;body&gt;
                      My first HTML page.
                 &lt;/body&gt;
            &lt;/html&gt;
          </code>

        <p>  HTML pages are saved with .html extension and are executed by browsers. There are lots of browsers like IE (Microsoft Internet Explorer), Mozilla Firefox, Google Chrome, Safari etc.
          When an html page is executed by the browser, the content within the tags are rendered and displayed in the browser. Tag themselves are not displayed.
          Learning HTML is very easy as it does not require any special software, a simple Notepad and a browser will do the job.
          Try saving the above code in a note pad, save it as “mypage.html” and open it with a browser. You just created an HTML page.
        </p>
        <br>
        <h3>Attributes:</h3>
        <p>
            A tag can have one or more attributes. Attributes are basically name-value pairs,
            separated by = and they are written within the start tag of an element after the element’s name.
            <code>
            &lt;tagName attrName=’value’> …some content …&lt;/tagName&gt;

            These attributes are like properties that a tag can have.
            Pick a tag and you can check the attributes list it contains.

            &lt;div id=”content”&gt;….some text here ….&lt;/div&gt;

            Here “id” is an attribute, which has a value equals to “content”.
            As you progress you will understand what the purpose of these attributes is and why they are important.
            </code>
        </p>

        <h3>  HTML Versions: </h3>
        <p>

            Below are the lists of HTML version
            HTML - 1991
            HTML2 – 1995
            HTML 3.2 – 1997
            HTML 4.01 – 1999
            XHTML – 2000
            HTML5 - 2014

        </p>
    </div>
  </div>
