<!--The content below is only a placeholder and can be replaced.-->
<div id="header-content">

  <span id="logo-header">&lt;ui-spider&gt;</span>
  <nav>
      <ul>
          <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
          <li><a routerLink="/html" routerLinkActive="active">HTML</a></li>
          <li><a routerLink="/css-tutorials" routerLinkActive="active">CSS</a></li>
          <li><a routerLink="/bootstrap-tutorials" routerLinkActive="active">Bootstrap</a></li>
          <li><a routerLink="/sass-tutorials" routerLinkActive="active">SaSS</a></li>
          <li><a routerLink="/about" routerLinkActive="active">About</a></li>
      </ul>
  </nav>

</div>
<div id="main-content">
    <router-outlet></router-outlet>
</div>
