
<div id="tag-main-content">
    <h2>DOCTYPE declaration</h2>
    <p>
      The first line of code that appears in any html document is the doctype declaration.

      The &lt;! DOCTYPE&gt; declaration basically is used to define what type of document it is.
      It tells the browser that "document type" is "html", so that brower can display the page correctly.
      Since HTML has different version also, hence we need to specify that too in the declaration.
      The doctype declaration for HTML5 is very simple "&lt;!DOCTYPE html&gt;", but the doctype for the
      pervious versions of HTML is quite lengthy as shown below in the examples. There are other types of documents
      like XML which browsers are capable of displaying. Hence it is good practice to tell the browser that type of
      document to expect.
    </p>

    <p>
        Declarations are shown below for different HTML versions<br />
    </p>

    <pre>
          <code>
          HTML5
          &lt;!DOCTYPE html&gt;

          HTML 4.01
          &lt;!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd"&gt;

          XHTML 1.0
          &lt;!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"&gt;
          </code>
    </pre>


</div>
